body{
    background-color: #000000;
}

p{
    color: rgb(220, 88, 253);
    font-family: verdana;
    font-size: medium;
}

.pais{
    color: rgb(0, 255, 0);
    font-family: arial;
    font-weight: bold;
}